@use 'base/reset';

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


$font-serif : "DM Serif Text",
serif;
$primary : #111;
$secondary : #ffcedf;

:root {
    // font-size: 12px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .95em;
    text-align: center;
    text-decoration: none;
    gap: .5em;
    height: fit-content;
    width: fit-content;
    padding: .6em 1em;
    border-radius: .8em;
    border: 1px solid $primary;
    color: #FFF;
    background: $primary;
    cursor: pointer;
    &.btn-outline {
        color: $primary;
        background: transparent;
    }
}
.modal {
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .92rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(3px);
    background: rgba(darken($secondary, 90%), 60%);
    .modal__container {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 20em;
        padding: 1em;
        border-radius: .8em;
        backdrop-filter: blur(3px);
        background: radial-gradient(rgba(#FFF, 80%), rgba(#FFF, 90%));
        p {
            font-size: .9em;
        }
    }
}
.alert {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 2em;
    right: 0;
    left: 0;
    .alert__container {
        display: flex;
        align-items: center;
        gap: .8em;
        min-height: 4em;
        width: 30em;
        padding: .8em 1.2em;
        border-radius: .8em;
        background: whitesmoke;
        small {
            line-height: 1.5;
        }
    }
}


[data-animate] {
    opacity: 0;
    transform: translateY(50px);
    /* nilai default, akan diganti di JS */
}
[x-cloak] {
    display: none !important;
}

body {
    * {
        font-family: "Plus Jakarta Sans", sans-serif;
    }
    width: 100vw;
    overflow-x: hidden !important;
    background: $secondary;
}


.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;

    .navbar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 2em;

        .navbar__banner {
            font-size: 1.2em;
            word-spacing: .2em;
            font-weight: bold;
            text-transform: uppercase;
            color: $primary;
            z-index: 101;
        }

        .navbar__button {
            position: relative;
            z-index: 101;
        }

        .navbar__menu {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            gap: 1.4em;
            padding: 8em 1em;
            backdrop-filter: blur(5px);
            background: linear-gradient(#FFFFFFEE, #FFFFFFCC, #FFFFFFFE);

            .navbar__menu__item {
                font-size: 2em;
                text-decoration: none;
                color: $primary;
            }
        }
    }
}
.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:
        radial-gradient(at 80% 3%, lighten($secondary, 2%) 0px, transparent 50%),
        radial-gradient(at 49% 45%, lighten($secondary, 70%) 0px, transparent 50%),
        radial-gradient(at 85% 42%, lighten($secondary, 5%) 0px, transparent 50%),
        radial-gradient(at 14% 79%, lighten($secondary, 3%) 0px, transparent 50%),
        radial-gradient(at 0% 50%, $secondary 0px, transparent 50%);
    overflow: hidden;

    .jumbotron__container {
        position: relative;
        font-size: 1em;
        margin-left: -6em;
        aspect-ratio: 16/8;
        margin-top: 6em;
        width: 50em;

        img {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .carpet {
            width: 60%;
            bottom: 0;
            left: 20%;
        }

        .trapesium {
            width: 24%;
            bottom: 14%;
            left: 44%;
        }

        .plant {
            width: 28%;
            bottom: 23%;
            left: 27%;
        }

        .block-plant {
            width: 15%;
            bottom: 19%;
            left: 17%;
        }

        .tv {
            width: 13%;
            bottom: 19%;
            left: 29%;
            filter: hue-rotate(10deg) brightness(1.05);
        }

        .ball-box {
            width: 20%;
            bottom: 14%;
            left: 66%;
        }

        .cinnamoyol {
            width: 18%;
            bottom: 45%;
            left: 50%;
        }

        .frame-container {
            position: absolute;
            aspect-ratio: 1/1;
            width: 32%;
            bottom: 63%;
            left: 40%;

            .frame {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
            }

            .neon-name {
                position: absolute;
                width: 68%;
                bottom: 24%;
                left: 15%;
            }

            .neon-circle {
                position: absolute;
                width: 63%;
                bottom: 16.5%;
                left: 20.3%;
            }

            &::before {
                content: '';
                position: absolute;
                aspect-ratio: 1/.9;
                bottom: 11%;
                left: 9%;
                width: 80%;
                backdrop-filter: blur(4px);
                background: #ff499210;
            }
        }
    }
}
.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(transparent, $secondary 20%);
    margin-top: -10em;
    padding: 16em 1em 6em;

    .about__container {
        display: flex;
        justify-content: space-between;
        width: 55em;

        .about__left {
            position: relative;
            width: 20em;

            .photo-container {
                position: absolute;
                top: -6em;
                right: 0;

                .photo {
                    width: 100%;
                }
            }
        }

        .about__right {
            display: flex;
            flex-direction: column;
            gap: 2.5em;
            min-width: 32em;
            max-width: 32em;

            .about__right__text {
                display: flex;
                flex-direction: column;
                gap: 2em;

                .title {
                    font-family: $font-serif;
                    font-size: 4.3em;
                    line-height: .9;
                    color: $primary;
                }

                p {
                    font-size: 1em;
                    line-height: 1.7;
                    text-align: justify;
                    color: #2b1b1f90;
                }
            }

            .about__right__buttons {
                display: flex;
                align-items: end;
                justify-content: space-between;
                gap: .5em;

                .buttons__sosmed {
                    display: flex;
                    gap: .5em;

                    .btn {
                        aspect-ratio: 1/1;
                        font-size: 1.4em;
                        border-radius: 50%;
                        width: 1.8em;
                        padding: .3em;
                    }
                }
            }
        }
    }
}
.education {
    display: flex;
    justify-content: center;
    padding: 4em 1em;
    overflow: hidden;
    background: #FFF;

    .education__container {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 55em;

        .education__title {
            position: relative;
            font-family: $font-serif;
            font-size: 4em;
            color: darken($secondary, 8%);
            z-index: 1;
        }

        .education__timeline {
            position: relative;
            display: flex;
            gap: 1.8em;

            .education__list {
                position: relative;
                display: flex;
                flex-direction: column;
                top: 3em;
                gap: 1em;
                height: fit-content;

                .education__item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    gap: .7em;
                    width: 22em;
                    padding: 1.2em 2.3em;
                    border-radius: .8em;
                    border: 1px solid #88888850;
                    box-shadow: 2px 2px 5px #00000005;
                    backdrop-filter: blur(10px);
                    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(254, 254, 254, 0.2), rgba(255, 255, 255, 0.4));

                    .item__year {
                        font-size: .7em;
                        color: #888;
                    }

                    .item__institution {
                        font-size: 1em;
                        line-height: 1.5;
                        text-align: end;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        aspect-ratio: 1/1;
                        top: 42%;
                        right: -2.38em;
                        width: .8em;
                        border-radius: 50%;
                        background: darken($secondary, 10%);
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: -5em;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(#FFF, transparent 50% 100%);
                }
            }

            &::after {
                content: '';
                width: .2em;
                height: 17em;
                background: linear-gradient(transparent 10%, rgba($secondary, 50%) 40% 60%, transparent 90%);
            }
        }
    }
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: #FFF;

    .skill__container {
        display: flex;
        flex-direction: column;
        gap: 10em;
        width: 100%;

        .skill__title {
            font-family: $font-serif;
            font-size: 7em;
            text-align: center;
            color: darken($secondary, 8%);
        }

        .skill__list {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 4em;
            width: 100%;

            .skill__item {
                position: relative;
                font-size: 550%;
                text-align: center;
                font-weight: bold;
                transition: transform 0.1s linear, opacity 0.1s linear;
                will-change: transform, opacity;
                opacity: 0;
                z-index: 2;
            }

            .polaroid-cam {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                filter: grayscale(1) contrast(1.2);
                opacity: .1;
            }
        }
    }
}
.tiktok {
    display: flex;
    justify-content: center;
    padding: 18em 1em 8em;
    background: $primary;
    overflow: hidden;

    .tiktok__container {
        display: flex;
        justify-content: space-between;
        width: 55em;

        .tiktok__left {
            display: flex;
            flex-direction: column;
            gap: 1.4em;
            width: 28em;

            .tiktok__left__title {
                font-family: $font-serif;
                font-size: 5em;
                color: $secondary;
            }

            .tiktok__info {
                display: flex;
                gap: 2em;
                margin: 2em 0 0;
                
                .tiktok__info__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: .5em;
                    
                    p {
                        font-size: 3em;
                        font-weight: bold;
                        color: #FFF;
                    }
                    
                    small {
                        color: #EEE;
                    }
                }
            }
            
            .tiktok__left__text {
                line-height: 1.7;
                text-align: justify;
                color: rgba(#FFF, 60%);
            }

            .btn {
                margin-top: 1.8em;
                border-color: $secondary;
                color: $secondary;
                background: transparent;
            }
        }

        .tiktok__right {
            position: relative;
            top: -5em;
            rotate: 3deg;
            width: 23em;

            .swipe-up {
                position: absolute;
                text-align: center;
                right: 5%;
                bottom: 3%;
                left: 4%;
                font-size: 1em;
                padding: 10% 0;
                z-index: 2;
                border-bottom-right-radius: 2em;
                border-bottom-left-radius: 2em;
                animation: fadeIn 1s ease-in;
                color: #FFF;
                background: linear-gradient(transparent, #000 90%);
                pointer-events: none;

                .arrows {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        display: block;
                        width: 1em;
                        height: 1em;
                        border-top: .3em solid #fff;
                        border-right: .3em solid #fff;
                        transform: rotate(-45deg);
                        margin: 3px 0;
                        animation: bounce 1.5s infinite;

                        &:nth-child(2) {
                            animation-delay: 0.1s;
                        }
                    }
                }

                p {
                    font-size: 1em;
                    font-weight: bold;
                    margin-top: 8px;
                    animation: fadeText 2s infinite;
                }
            }

            @keyframes bounce {

                0%,
                100% {
                    transform: rotate(-45deg) translateY(0) translateX(0);
                    opacity: 1;
                }

                50% {
                    transform: rotate(-45deg) translateY(-10px) translateX(10px);
                    opacity: 0.5;
                }
            }

            @keyframes fadeText {

                0%,
                100% {
                    opacity: 1;
                }

                50% {
                    opacity: 0.4;
                }
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateY(0) translateX(-50%);
                }

                to {
                    opacity: 1;
                    transform: translateY(0) translateX(-50%);
                }
            }

            .icons {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none;
                z-index: 4;

                .profile {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    top: 12%;
                    right: 0;
                    left: 14%;
                    gap: 2%;
                    .tiktok-avatar {
                        width: 10%;
                        border-radius: 50%;
                        border: 2px solid #FFF;
                    }
                    small{ 
                        color: #FFF;
                    }
                }

                .tiktok-icon {
                    position: absolute;
                    bottom: 10%;
                    left: -10%;
                    width: 8em;
                }

                .like-icon {
                    position: absolute;
                    top: 0;
                    right: -24%;
                    width: 50%;
                    rotate: 2deg;
                }
            }

            .phone-frame {
                // display: none;
                position: relative;
                width: 100%;
                pointer-events: none;
                z-index: 3;
            }

            .videos {
                position: absolute;
                top: 2%;
                bottom: 2%;
                left: 5%;
                width: 90%;
                overflow: hidden;
                border-radius: 3em;
                z-index: 1;

                .video-item {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
.partner {
    display: flex;
    justify-content: center;
    background: $primary;
    overflow: hidden;

    .partner__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;

        .partner__title {
            font-size: 5em;
            font-weight: bold;
            color: #FFF;
        }

        .partner__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3em;
            row-gap: 1em;
            width: 50em;
            opacity: .5;

            .partner__item {
                height: 7em;
                filter: grayscale(1) brightness(.7);
            }
        }
    }
}
.work {
    display: flex;
    justify-content: center;
    background: $primary;
    padding: 12em 5em 0;
    overflow: hidden;

    .work__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .work__title {
            font-family: $font-serif;
            font-size: 8em;
            color: darken($secondary, 8%);
        }

        .work__list {
            position: relative;
            display: flex;
            flex-direction: column;

            .work__item {
                position: relative;
                display: flex;
                flex-direction: column;
                top: -5em;
                gap: 1em;
                height: 27em;
                width: 48%;

                .item__cover {
                    position: absolute;
                    aspect-ratio: 1/1;
                    bottom: 0;
                    width: 100%;
                    border-radius: .8em;
                    overflow: hidden;

                    .item__info {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        gap: 1.5em;
                        width: 100%;
                        height: 100%;
                        padding: 2em;
                        box-sizing: border-box;
                        transform: translateX(100%);
                        transition: transform 0.4s ease;
                        background: $secondary;
                        z-index: 4;
                        
                        h4 {
                            font-family: $font-serif;
                            font-size: 2em;
                        }
                        
                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: .5em;
                            padding: 0 0 0 1.4em;
                            opacity: .7;
                            overflow-y: auto;
                            li {
                                word-break: break-word;
                                overflow-wrap: break-word;
                                hyphens: auto; 
                                list-style: square;
                                line-height: 1.4;
                            }
                        }
                    }
                    
                    .cover__list {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        aspect-ratio: 1/1;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background: #FFF;
                        
                        .cover__parallax {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            aspect-ratio: 1/1;
                            top: -5%;
                            right: 0;
                            bottom: 0;
                            left: -10%;
                            width: 120%;
                            .cover__item {
                                position: absolute;
                                display: none;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                            }
                        }
                        
                    }
                    
                }

                .item__description {
                    position: absolute;
                    display: flex;
                    bottom: -5em;
                    width: 100%;
                    height: 4em;
                    gap: 1em;

                    .item__title {
                        font-size: 1.8em;
                        font-weight: bold;
                        line-height: 1.4;
                        color: $primary;
                        width: 100%;
                    }
                    
                    .btn-show {
                        display: inline-flex;
                        font-size: .8em;
                        white-space: nowrap;
                        height: fit-content;
                        background: darken($secondary, 60%);
                    }
                }

                &:nth-child(odd) {
                    align-self: flex-end;

                    .item__description {
                        flex-direction: row-reverse;
                        align-self: end;
                        
                        .item__title {
                            text-align: end;
                        }
                    }
                }
            }
        }
    }
}
.closing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;

    .closing__container {
        position: relative;
        width: 55em;
        z-index: 2;

        .closing__title {
            display: inline-block;
            font-size: 7em;
            font-weight: bold;
            width: 4em;
            margin: 1em 0 0;
            transform: skewX(-15deg) scale(0.5);
            transition: transform 0.2s ease-out;
            transform-origin: left center;
            will-change: transform, opacity;
        }

        .photo-container {
            position: absolute;
            top: 4em;
            right: -8em;
            width: 40em;

            .photo {
                width: 100%;
            }
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(#FFF, transparent 80%);
    }
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1em;
    overflow: hidden;
    background: $primary;

    .contact__container {
        display: flex;
        flex-direction: column;
        gap: 6em;
        width: 55em;

        .contact__title {
            font-family: $font-serif;
            font-size: 5em;
            width: 30%;
            color: $secondary;

        }

        .contact__list {
            display: flex;
            gap: 5em;

            .contact__item {
                display: flex;
                flex-direction: column;
                gap: 1em;

                .item__title {
                    font-size: 1.3em;
                    font-weight: bold;
                    color: #FFF;
                }

                p {
                    font-size: 1.1em;
                    color: #FFF;
                    opacity: .8;
                }
            }
        }
    }
}


body.dashboard {
    display: flex;
    justify-content: center;
    // padding: 6em 2em;
    .dashboard__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.folder {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4em 2em 6em;
    .folder__container {
        display: flex;
        flex-direction: column;
        width: 55em;
        gap: 3em;
        .folder__title {
            font-family: $font-serif;
            font-size: 2em;
            text-align: center;
            line-height: 1.1;
            color: darken($secondary, 70%);
        }
        .folder__add {
            display: flex;
            justify-content: end;
            .btn {
                font-size: .8em;
                padding: .8em;
            }
        }
        .folder__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5em;
            width: 100%;
            .folder__item {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                width: 100%;
                gap: .3em;
                .action {
                    position: absolute;
                    text-align: end;
                    right: 0;
                    top: 0;
                    padding: .5em;
                    width: 2em;
                    z-index: 20;
                    cursor: pointer;
                }
                .action__container {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    font-size: .9em;
                    top: 1em;
                    right: 1.5em;
                    gap: .6em;
                    width: 8em;
                    padding: .6em .8em;
                    z-index: 25;
                    cursor: pointer;
                    border-radius: .4em;
                    border: 2px solid rgba(#FFF, 90%);
                    background: radial-gradient(rgba(#FFF, 60%), rgba(#FFF, 90%));
                    span {
                        display: flex;
                        width: 100%;
                    }
                }
                img {
                    width: 6em;
                    cursor: pointer;
                }
                small {
                    text-align: center;
                    line-height: 1.5;
                    max-width: 10em;
                    color: $primary;
                }
            }
        }
    }
}
.file {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .file__back  {
        background: #FFF;
    }
    .file__header {
        display: flex;
        justify-content: center;
        background: #FFF;
        width: 100%;
        padding: 4em 2em 2.2em;
        .file__header__container {
            display: flex;
            flex-direction: column;
            gap: 3em;
            width: 55em;
            .header__back {
                width: fit-content;
                color: darken($secondary, 70%);
            }
            .header__content {
                display: flex;
                gap: 15%;
                .content__left {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;
                    min-width: 54%;
                    .carrier__title {
                        .input__edit {
                            font-family: $font-serif;
                            font-size: 2em;
                            line-height: 1.1;
                            width: 400px;
                            color: darken($secondary, 70%);
                            &::placeholder {
                                color: rgba(darken($secondary, 80%), 30%);
                            }
                        }
                    }
                    .content__work {
                        display: flex;
                        flex-direction: column;
                        gap: 1em;
                        width: 100%;
                        .content__work__title {
                            font-weight: bold;
                        }
                        .content__work__list {
                            display: flex;
                            flex-direction: column;
                            gap: .3em;
                            padding-left: .5em;
                            width: 100%;
                            li {
                                position: relative;
                                display: flex;
                                align-items: flex-start;
                                font-size: .9em;
                                gap: 1rem;
                                width: 100%;
                                .input__edit {
                                    line-height: 1.6;
                                    width: 100%;
                                    padding: .3em .8em .5em;
                                    box-sizing : 2em;
                                    border-radius: .4em;
                                    border: 1px solid rgba(#FFF, 20%);
                                    color: darken($secondary, 70%);
                                    background: linear-gradient(100deg, rgba(lighten($secondary, 10%), 20%), rgba(lighten($secondary, 20%), 16%), rgba(lighten($secondary, 60%), 20%));
                                    &::placeholder {
                                        color: rgba(darken($secondary, 70%), 40%);
                                    }
                                }
                                &::before {
                                    content: '\273F';
                                    flex-shrink: 0;
                                    font-size: 1.3em;
                                    line-height: 1;
                                    margin-top: .3em;
                                    animation: spin 5s linear infinite;
                                    color: #f4923c;
                                }
                                
                                @keyframes spin {
                                    from {
                                        transform: rotate(0deg);
                                    }
                                    to {
                                        transform: rotate(360deg);
                                    }
                                }
                            }
                        }
                    }
                }
                .content__right {
                    position: relative;
                    aspect-ratio: 1/1;
                    width: 100%;
                    .thumbnail {
                        position: absolute;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        aspect-ratio: 1/1;
                        top: 0;
                        right: 0;
                        gap: .5em;
                        width: 130%;
                        padding: 1em;
                        border-radius: 1em;
                        border: 1px solid rgba(#000, 10%);
                        background: radial-gradient(rgba(#FFF, 58%), rgba(#FFF, 20%));
                        backdrop-filter: blur(2px);
                        
                        .thumbnail__item {
                            position: relative;
                            aspect-ratio: 1/1;
                            width: 100%;
                            overflow: hidden;
                            border-radius: .8em;
                            border: 1px dashed rgba(darken($secondary, 80%), 20%);
                            input {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                opacity: 0;
                                z-index: 50;
                                cursor: pointer;
                            }
                            &:has(.title__logo) {
                                border-color: rgba(darken($secondary, 20%), 70%);
                                .thumbnail__preview img {
                                    background: #8c8b8b;
                                }
                            }
                            .thumbnail__add {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                gap: .4em;
                                height: 100%;
                                width: 100%;
                                border-radius: .8em;
                                background: radial-gradient(rgba(#FFF, 8%), rgba(#FFF, 60%));
                                &:has(.title__logo) {
                                    background: radial-gradient(transparent, rgba(#000, 5%));
                                }
                                .add__title {
                                    font-size: .7em;
                                    text-align: center;
                                    line-height: 1.6;
                                    color: rgba(darken($secondary, 70%), 40%);
                                    b {
                                        font-weight: bold;
                                    }
                                    .title__logo {
                                        display: flex;
                                        flex-direction: column;
                                        gap: .3em;
                                        img {
                                            width: 5em;
                                        }
                                    }
                                }
                            }
                            .thumbnail__preview {
                                height: 100%;
                                width: 100%;
                                img {
                                    position: absolute;
                                    aspect-ratio: 1/1;
                                    object-fit: cover;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    height: 100%;
                                    width: 100%;
                                    background: #FFF;
                                }
                                .thumbnail__action {
                                    position: absolute;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    padding: .8em;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    background: linear-gradient(transparent 50%, rgba(darken($secondary, 70%), 60%));
                                    i {
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        align-self: end;
                                        aspect-ratio: 1/1;
                                        font-size: 10px;
                                        width: 2em;
                                        border-radius: 50%;
                                        z-index: 100 !important;
                                        cursor: pointer;
                                        color: #FFF;
                                        background: rgba(red, 80%);
                                    }
                                    small {
                                        align-self: center;
                                        font-size: .8em;
                                        text-align: center;
                                        cursor: pointer;
                                        color: #FFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .file__content {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 3em 2em;
        .content__container {
            display: flex;
            flex-direction: column;
            gap: 2em;
            width: 55em;
            .content__add {
                display: flex;
                .btn {
                    font-size: .8em;
                    padding: .8em;
                }
            }
            .content__list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1.5em;
                width: 100%;
                .content__item {
                    display: flex;
                    flex-direction: column;
                    gap: .2em;
                    width: 100%;
                    padding: .5em;
                    border-radius: .6em;
                    border: 2px solid rgba(#FFF, 90%);
                    background: radial-gradient(rgba(#FFF, 60%), rgba(#FFF, 90%));
                    .content__cover {
                        position: relative;
                        aspect-ratio: 8/9;
                        width: 100%;
                        border-radius: .4em;
                        overflow: hidden;
                        border: 1px solid rgba(#FFF, 20%);
                        box-shadow: 2px 3px 8px rgba(#000, 20%);
                        .cover__container {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            filter: grayscale(1);
                            iframe {
                                height: 100%;
                            }
                            .instagram-media {
                                height: 280% !important;
                                transform: scale(.56) translate(-40%, -52%) !important;
                            }
                            .tiktok-embed {
                                transform: scale(1) translateY(-27.5%);
                            }
                        }
                        img,
                        video {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            filter: grayscale(1);
                        }
                        .content__info {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: .8em;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            gap: .8em;
                            padding: .8em;
                            pointer-events: none;
                            user-select: none;
                            background: linear-gradient(rgba(darken($secondary, 80%), 60%), transparent, rgba(darken($secondary, 80%), 60%));
                            i {
                                align-self: start;
                                font-size: 1.2em;
                                color: lighten($secondary, 80%);
                            }
                            .date {
                                align-self: end;
                                font-size: .8em;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                color: rgba(lighten($secondary, 80%), 80%);
                            }
                        }
                    }
                    .content__separator {
                        height: 1px;
                        width: 100%;
                        border: 0;
                        background: linear-gradient(90deg, transparent, rgba(#000, 10%), transparent);
                    }
                    .content__action {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        font-size: .9em;
                        padding: 0 .5em .2em;
                        .action__icon {
                            cursor: pointer;
                            color: rgba(darken($secondary, 80%), 27%);
                        }
                    }
                }
            }
        }
    }
}

.form__tab {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 90em;
    margin-bottom: 1em;
    background: #00000010;
    span {
        font-size: .8em;
        text-align: center;
        padding: .7em;
        width: 100%;
        border-radius: 90em;
        &.active {
            background: #00000015;
        }
    }
}
.form__input {
    height: 2em;
    .btn {
        width: 100%;
        font-size: .8em;
    }
}
.form__preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 12/11;
    height: 18em;
    width: 100%;
    gap: .5em;
    overflow: hidden;
    border-radius: .8em;
    border: 1px dashed rgba(#000, 40%);
    background: #00000008;
    .preview__placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        .icon {
            width: 3em;
            opacity: .2;
        }
        small {
            font-size: 10px;
            opacity: .4;
        }
    }
    .preview__result {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: .5em;
        video {
            height: 100%;
            width: 100%;
        }
        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
        iframe {
            height: 106%;
            width: 200%;
        }
        .instagram-media {
            height: 180%;
            transform: scale(.9) translateY(-1.5em);
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .row {
        display: flex;
        width: 100%;
        gap: 1em;
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: .9em;
        gap: .5em;
        margin: 1em 0 0;
        .btn {
            font-size: 1em !important;
            min-width: 6em;
            padding: .5em 1em !important;
            border-radius: .6em;
        }
    }
}
input, textarea {
    width: 100%;
    padding: .5em .8em;
    outline: none;
    border-radius: .4em;
    border: 1px solid rgba(#000, 30%);
    background: transparent;
    resize: vertical;
    &::placeholder {
        opacity: .6;
    }
}
label {
    display: flex;
    flex-direction: column;
    font-size: .65em;
    font-weight: 600;
    gap: .8em;
    width: 100%;
    color: rgba(darken($secondary, 85%), 70%);
    small {
        font-size: .9em;
        font-weight: normal;
        text-align: start !important;
        max-width: 100% !important;
        color: rgba(#000, 50%);
    }
}

.input__edit {
    resize: none;
    padding: 0;
    border: 0;
    overflow: hidden;
    border-radius: 0;
}

@media (max-width: 480px) {
    :root {
        font-size: 13px;
    }
    
    .modal {
        font-size: 1.1em;
    }

    .jumbotron {
        .jumbotron__container {
            margin-left: -1.3em;
            transform: scale(1.35);
        }
    }

    .about {
        padding: 10em 3em 5em;

        .about__container {
            gap: 2em;
            width: 100%;

            .about__right {
                min-width: 100%;
                max-width: 100%;
            }

            .about__left {
                position: absolute;
                bottom: -28em;

                .photo-container {
                    width: 16em;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }

    .education {
        padding: 4em 3em 28em;

        .education__container {
            width: 100% !important;

            .education__timeline {
                width: 100%;

                .education__list {
                    width: 100%;

                    .education__item {
                        padding: 1.2em 1.8em;
                        width: 100%;

                        .item__institution {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }

    .skill {
        .skill__container {
            gap: 6em;
            padding: 1.5em;

            .skill__title {
                font-size: 8em;
            }

            .skill__list {
                gap: 6em;

                .skill__item {
                    font-size: 320%;
                }
            }
        }
    }

    .tiktok {
        padding: 10em 3em 5em;

        .tiktok__container {
            flex-direction: column;
            align-items: center;
            gap: 5em;
            width: 100%;

            .tiktok__left {
                width: 100%;
            }

            .tiktok__right {
                display: flex;
                justify-content: center;
                top: 0;
                width: 80%;

                .swipe-up {
                    font-size: .9em !important;
                }

                .icons {
                    .tiktok-icon {
                        width: 30%;
                    }

                    .like-icon {
                        width: 45%;
                    }
                }
            }
        }
    }

    .partner {
        padding: 2em;

        .partner__container {
            width: 100%;

            .partner__title {
                font-size: 3em;
            }

            .partner__list {
                width: 100%;

                .partner__item {
                    height: 3.5em;
                }
            }
        }
    }

    .work {
        padding: 3em 3em 0;

        .work__container {
            gap: 2em;

            .work__title {
                font-size: 5em;
            }

            .work__list {
                gap: 3em;

                .work__item {
                    top: 0;
                    height: 100%;
                    width: 100%;
                    
                    .item__description {
                        position: relative;
                        bottom: 0;
                        .item__title {
                            font-size: 1.4em;
                        }
                        .btn-show {
                            display: none
                        }
                    }
                    
                    .item__cover {
                        position: relative;
                        .cover__list {
                            .cover__parallax {
                                top: -15%;
                                left: -15%;
                                width: 130%;
                                .cover__item {
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .closing {
        height: 110vh;
        align-items: start;
        padding: 4em 2em 0;

        .closing__container {
            flex-direction: column;
            width: 100%;

            .closing__title {
                font-size: 5em;
                margin-top: 2.4em;
            }

            .photo-container {
                top: 20em;
                right: -10em;
                width: 36em;
            }
        }
    }

    .contact {
        padding: 3em;

        .contact__container {
            width: 100%;

            .contact__title {
                width: 100%;
                font-size: 6em;
            }

            .contact__list {
                flex-direction: column;
                gap: 3em;
            }
        }
    }
    
    .file {
        overflow-x: hidden;
        .file__header {
            .file__header__container {
                width: 100%;
                .header__content {
                    flex-direction: column;
                    gap: 2em;
                    .content__left {
                        width: 100%;
                        .content__work {
                            .content__work__list {
                                li {
                                    gap: .5em;
                                    .input__edit {
                                        font-size: 1.1em !important;
                                    }
                                    &::before {
                                        margin-top: .5em;
                                    }
                                }
                            }
                        }
                    }
                    .content__right {
                        width: 100%;
                        height: 17em;
                        .thumbnail {
                            position: absolute;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .file__content {
            padding: 10em 2em 2em;
            .content__container {
                width: 100%;
                .content__list {
                    grid-template-columns: repeat(2, 1fr);
                    gap: .8em;
                    .content__item {

                    }
                }
            }
        }
    }
    
    .folder {
        .folder__container {
            .folder__list {
                grid-template-columns: repeat(2, 1fr);
                .folder__item {
                    .action__container {
                        font-size: 1em;
                        gap: .8em;
                        width: 8em;
                    }
                    small {
                        font-size: .9em;
                    }
                }
            }
        }
    }
    
    label {
        font-size: .8em;
    }
}
